<html>
	<head>
		<link rel='stylesheet' href='../bootstrap/dist/css/bootstrap.min.css'/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- 		<script type="text/javascript" src="../jquery.js"></script>
 -->	</head>
	<body class='container'>
		<h1>Acme Sales</h1>
		<ul class='nav nav-tabs'>
			<li><a href='/'>Home</a></li>
			<li><a href='/salesPeople'>Sales People</a></li>
			<li><a href='/regions'>Regions</a></li>
		</ul>

		{% block content %}
		{% endblock %}

	</body>
</html>
