{% extends './layout.html' %}

{% block content %} 
	<br>

<!-- 	New Sales Person-->	
	<div class='well'>
		<form method='POST' action='/salesPeople'>
			<input name='newSalesPerson' placeholder='name' class='form-control'></input>
			<br>
			<button class='btn btn-primary' type='submit'>Add Sales Person</button>
		</form>
	</div>

<!-- Names of Sales People-->	
	{% for person in people %}
		<ul class='list-group'>
			<form method='POST' action='/salesPersonRegion/{{person.id}}/{{region.id}}?_method=DELETE'>
				<li class='list-group-item disabled'> 
					{{ person.name }}
					<button class='btn btn-danger btn-xs pull-right'>Delete</button>
				</li>
			</form>

			<!-- Regions -->				
			{% for region in regions %}
					<li class='list-group-item'>
						{{ region.zipCode }} 
						<form method='POST' action='salesPersonRegion/{{person.id}}/{{region.id}}'>
							<button class='btn btn-default btn-xs pull-right' id='add'>Add</button>
						</form>
						<form method='POST' action='salesPersonRegion/{{person.id}}/{{region.id}}?_method=DELETE'>
							<button class='btn btn-default btn-xs pull-right' id='remove'>Remove</button>
						</form>
					</li>
			{% endfor %}
		</ul>
	{% endfor %}

{% endblock %}


